{% extends 'blogbase.html' %}

{% block content %}

<div class="wrap full-wrap">
    <div class="main-wrap">
        <section class="main main-archive">

            <article class="post result">
                <div class="inner">
                    <h1 class="searching">Blog</h1>
                    <p>Browse through blogs of amazing writters</p>
                </div>
            </article>

            <div class="loop">
                {% for post in posts%}
                <article class="post has-post-thumbnail">

                    <div class="inner">

                        <h2 class="entry-title">
                            <a href="{% url 'single' id=post.id %}" title="{{post.title}}">
                                {{post.title}} </a>
                        </h2>
                        <ul class="meta top">
                            <li class="time">
                                <a>
                                    <time class="post-date updated" datetime="2014-05-02">{{post.created_at}}</time>
                                </a>
                            </li>

                            <!-- <li class="comments post-tags">
                                <a href="#">0
                                    Comments</a>
                            </li> -->

                            <li class="author-m post-tags">
                                By <span class="vcard author post-author"><span class="fn"><a href="{% url 'author' id=post.author_id %}"
                                            title="Posts by {{post.author}}"
                                            rel="author">{{post.author}}</a></span></span>
                            </li>

                        </ul>
                        <div class="post-content">
                            <p>{{post.description}} <a href="{% url 'single' id=post.id %}" class="more-link">Read More</a>
                            </p>
                        </div>

                        <ul class="meta bottom">

                            <li class="cat post-tags">Category: <a href="{% url 'blogfilter' id=post.category_id %}">{{post.category}}</a>
                            </li>

                        </ul>

                    </div>
                </article>
                {% endfor %}

            </div>

        </section>

    </div><!-- /main-wrap -->


</div><!-- /wrap -->

{% endblock %}